body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #116699;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 500px;
}

img {
  width: 75px;
  height: 75px;
}

.text-left {
  text-align: left;
}

.deleted {
  background-color: #c00;
}

.overflow-auto {
  height: 350px;
}

.overflow-auto.his {
  height: 374px;
}
