body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #116699;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

img {
  width: 75px;
  height: 75px;
}

.text-left {
  text-align: left;
}
